/* body {
  font-family: sans-serif;
  color: black;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
} */
